body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  .writeWorkoutContainer {
    width: 90%; /* 화면 너비에 따라 컨테이너 너비 조정 */
    flex-direction: column; /* 화면이 작아지면 아이템들을 세로로 배열 */
  }

  .writeWorkoutContainer input {
    width: 100%; /* 화면이 작아지면 input 너비를 최대로 확장 */
  }

  .result {
    width: 90%; /* 화면 너비에 따라 div 너비 조정 */
  }
}

.writeWorkoutContainer {
  display: flex;
  flex-wrap: wrap; /* 텍스트 줄바꿈 설정 */
  /* align-items: center; */
  gap: 0.5rem; /* 간격 조정 */
  background-color: #f7f7f7;
  padding: 0.5rem; /* 패딩 조정 */
  margin: 0.5rem 0; /* 마진 조정 */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* 최대 너비 설정 */
  width: 500px;
}

.writeWorkoutContainer label {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #333;
  font-size: 0.7rem; /* 글씨 크기 조정 */
}

.writeWorkoutContainer label span {
  margin-bottom: 0.3rem; /* 마진 조정 */
}

.writeWorkoutContainer input {
  padding: 0.3rem; /* 패딩 조정 */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.7rem; /* 글씨 크기 조정 */
  flex: 1;
  width: 50px; /* 너비 조정 */
}

.writeWorkoutContainer button {
  padding: 0.3rem; /* 패딩 조정 */
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: white;
  cursor: pointer;
  font-size: 0.7rem; /* 글씨 크기 조정 */
}

.writeWorkoutContainer button:hover {
  background-color: #ff4500;
}

.mainWorkoutList,
.subWorkoutList {
  list-style: none;
  padding-left: 0;
}

.mainWorkoutList li,
.subWorkoutList li {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem;
}

.result {
  width: 300px; /* div의 너비를 설정합니다. */
  margin: 10px; /* 주변의 공간을 설정합니다. */
}

.result p {
  font-size: 14px; /* 글자 크기를 설정합니다. */
  line-height: 1.5; /* 줄 간격을 설정합니다. */
}

/* .flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row > * {
  margin-left: 5px;
  margin-right: 5px;
} */
.goBackButton {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px; /* 버튼에 둥근 모서리를 추가합니다. */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); /* 버튼에 약간의 그림자를 추가하여 입체감을 줍니다. */
  color: #333;
  text-decoration: none; /* 텍스트에 밑줄 제거 */
  transition: all 0.3s ease; /* 클릭 시 버튼에 애니메이션 효과를 추가합니다. */
}

.goBackButton:hover {
  background-color: #f6f6f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.flex-row {
  display: flex;
  flex-wrap: nowrap; /* 강제로 한 줄에 배치 */
  justify-content: space-between;
}

.flex-row > * {
  margin: 0 2px; /* 요소 간 간격 조정 */
  flex-shrink: 1; /* 필요에 따라 요소 크기 줄이기 */
}

.flex-row > label {
  flex-basis: 20%; /* label이 차지하는 너비를 조절합니다. */
  white-space: nowrap; /* 라벨 텍스트가 넘치지 않게 함 */
  overflow: hidden; /* 라벨 텍스트가 넘칠 경우 숨김 */
  text-overflow: ellipsis; /* 라벨 텍스트가 넘칠 경우 말줄임표(...) 사용 */
}

.flex-row > input {
  flex-basis: 20%; /* input이 차지하는 너비를 조절합니다. */
}

.flex-row > button {
  flex-basis: 20%; /* button이 차지하는 너비를 조절합니다. */
  padding: 0.3rem 0; /* 버튼 내부 패딩을 좌우 패딩 없이 상하 패딩만 주기 */
  font-size: 0.6rem; /* 버튼 폰트 크기 줄이기 */
}
